[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
liesel = {ref = "main", git = "https://github.com/liesel-devs/liesel.git"}
jupyterlab = "*"
jupytext = "*"
pygraphviz = "*"
tabulate = "*"

[dev-packages]
nbqa = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
